<!DOCTYPE html>
<html lang="en">
<head>
   <%-include('../partials/meta.ejs')%>

</head>
<body>
    <%-include('../partials/nav.ejs')%>
    <h1>Aqui estan todos mis contactos</h1>
    <form action="">
        <label for="">
            <input type="text">
        </label>
    </form>
</body>
</html>